body {
    background-color: #F9FAFB;
}

.title-color {
    color: #1F2937;
}

.body-color {
    color: #4B5563;
}

.container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 25px;
    margin-left: 200px;
    margin-right: 200px;
}

.sidebar {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.sidebar-items{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 10px;
}

.sidebar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 10px;
}

.sidebar-icon{
    /* flex-basis: 25%; */
    /* border-radius: 50%; */
    width: 50px;
    height: 50px;
    object-fit: fill;
}

.sidebar-item-text{
    /* flex-basis: 75%; */
    display: flex;
    flex-direction: column;
    align-items: start;
}

.sidebar-item-text h2, p{
    margin: 2px;
}

.content-card {
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.content-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 50px;
    /* padding-right: 50px; */
    /* padding-top: 10px; */
}

.content-top h1 {
    font-size: 3em;
    margin: 0px;
    padding-top: 10px;
}

.content-nav{
    display: flex;
    flex-basis: 7.5%;
    justify-content: flex-end;
    align-items: start;
    gap: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border-style: solid;
    border-color: #7B61FF;
    background-color: #7B61FF;
    border-radius: 0px 10px 0px 10px;
}

.content-nav h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
}

.content-nav button {
    background-color: inherit;
    border:rgba(0, 0, 0, 0);
    transition-duration: 0.4s;
}

.content-nav button:hover {
    color: rgba(255, 255, 255, 0.8);
    border:rgba(0, 0, 0, 0);
    /* transition-duration: 0.4s; */
}

.content-nav button.active{
    color: rgba(255, 255, 255, 0.8);
}

.content-title {
    display: none;
}

.content-title.active {
    display: block;
}

.content {
    display: none;
}

.content.active {
    display: block;
}

.content-about {
    display: flex;
}
.headshot {
    /* clip-path: circle(50%); */
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 50px;
    margin-bottom: 0px;
    margin-top: 25px;
}

.name {
    margin-bottom: 10px;
}

.sidebar hr {
  border: none;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.185);
  width: 80%;
}
.content-top hr {
  border: none;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.185);
  width: 100%;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color:aliceblue
}
